CompileFlags:
  Add:
    - -std=c++23
    - -fsanitize=undefined
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wformat=2
    - -Wshadow
    # - -Wno-sign-conversion # 禁用隱式型態轉換的警告