# 定義要啟用的檢查項目
Checks: >
  # 啟用 Clang 診斷相關檢查項目，包括語法錯誤、代碼風格問題等
  clang-diagnostic-*,

  # 啟用 Clang 靜態分析器檢查，用於檢測潛在的邏輯錯誤
  clang-analyzer-*,

  # 啟用現代化建議，幫助將代碼提升到更現代的 C++ 標準
  modernize-*,

  # 啟用性能優化相關檢查，幫助發現可能導致性能下降的代碼
  performance*,

  # 啟用 C++ 核心指導方針檢查，幫助代碼符合 C++ Core Guidelines
  cppcoreguidelines-*,

  # 其他推薦檢查項目：
  readability-*          # 代碼可讀性檢查
  bugprone-*             # 潛在 Bug 的檢查
  misc-*                 # 一些雜項檢查，包括實用性和警告增強
  portability-*          # 提高代碼可移植性的檢查
  hicpp-*                # 高完整性 C++ 的檢查
  cert-*
  llvm-*
  llvmlibc-*
  objc-*

# 將某些警告升級為錯誤，以強制解決關鍵問題
WarningsAsErrors: >
  clang-diagnostic-*,
  modernize-*,
  performance-*,
  cppcoreguidelines-*,
  readability-*,
  bugprone-*,

# 定義要檢查的標頭文件擴展名
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx

# 定義要檢查的實現文件擴展名
ImplementationFileExtensions:
  - cpp
  - cxx
  - cc

# 定義標頭文件的正則過濾器
HeaderFilterRegex: 'D:/Code/OnlineJudge/.*'

# 排除某些標頭文件的正則過濾器
ExcludeHeaderFilterRegex: 'D:/Code/OnlineJudge/external/.*'

# 是否檢查系統標頭文件
SystemHeaders: false

